section {
  background-color: rgba(204, 248, 246, 0.3);
  border-radius: 8px;
  text-align: center;
  padding: 30px 20px 20px 20px;
  color: bisque;
  margin: 5px 20px 20px 20px;
}

.App {
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 107, 141) 0%,
    rgb(0, 69, 91) 90%
  );
  height: 100vh;
}

.App h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 80px;
  background-size: cover;
  color: bisque;
  padding-top: 10px;
}

.App footer {
  width: max-content;
  margin: 0 auto;
}
