section {
  background-color: rgba(204, 248, 246, 0.3);
  border-radius: 8px;
  text-align: center;
  padding: 15px 20px 20px 20px;
  color: bisque;
  max-width: 90%;
  margin-bottom: 15px;
}

body {
  text-align: center;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 107, 141) 0%,
    rgb(0, 69, 91) 90%
  );
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h3 {
  font-weight: 700;
  font-family: "Tangerine", cursive;
  font-size: 70px;
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

.App h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 80px;
  color: bisque;
  padding-top: 10px;
}

.App footer {
  width: max-content;
  margin: 0 auto;
  font-size: 10px;
}

@media (max-width: 900px) {
  section {
    background-color: rgba(204, 248, 246, 0.3);
    border-radius: 8px;
    text-align: center;
    padding: 5px 15px;
    color: bisque;
    max-width: 90%;
    margin: 0 auto 15px;
  }
}
