.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App h1 {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-size: 80px;
  background-size: cover;
  color: bisque;
}

.App footer {
  background-color: rgba(250, 218, 192, 0.2);
  background-size: 50px;
}
