.Meaning h4 {
  font-weight: 700;
  font-family: "Tangerine", cursive;
  font-size: 60px;
  margin: 0;
}

.Meaning em {
  opacity: 0.9;
}

.Meaning li {
  list-style: none;
  margin-bottom: 5px;
}

.Meaning .definition {
  font-size: 18px;
}
